.page-toggler {
  display: flex;
  width: 500px;
  margin: 50px 0;
  padding-top: 0;
  justify-content: center;
  margin: 30px 0;
  height: 40px;
}

.toggler-btn {
  height: 100%;
  width: 48%;
  border: 1px solid black;
  /* color: black; */
  color: white;
  font-size: 20px;
  cursor: pointer;
  /* background-color: #dcdcdc; */
  opacity: 0.5;
  background-color: #6699CC;
  border: none;
  outline: none;
  border-radius: 5px;
  margin-right: 5px;
  font-size: calc(0.8vw + 10px); /* Dynamická velikost písma, která se přizpůsobí šířce obrazovky */
  cursor: pointer;
}

.active {
  /* background-color: gray; */
  background-color: #005A9C;
}

@media screen and (max-width: 300px) 
{
  body{
    display: none;
  }

  .page-toggler{
    display: none;
  }

  .toggler-btn{
    display: none;
  }
}

@media screen and (min-width: 301px)and (max-width: 400px) 
{
  .toggler-btn{
    width:140px;
  }
}


@media screen and (min-width: 401px) and (max-width: 575px) 
{
  .toggler-btn{
    width:190px;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) 
{
  .toggler-btn{
    width:300px;
  }
}

@media screen and (min-width: 767px) and (max-width: 991px) 
{
  .toggler-btn{
    width:400px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) 
{
  /* .toggler-btn{
    width:500px;
  } */
}

@media screen and (min-width: 1200px)
{
  .toggler-btn{
    font-size: large
  }
}